<!-- Author: Ranjithprabhu K
     Date: 24 Dec 2015
   Author URL: http://ranjithprabhu.in
   Version: 1.0.0
-->

<!DOCTYPE html>
<html>
<head>
  <title>Cryptic Oasis - A finance management webapp</title>
  <meta name="description" content="Angular Bootstrap Dashboard"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  
    <link href="bower_components/angular-material/angular-material.min.css" rel="stylesheet" />
    <!--CSS-->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <link href="css/nga.all.min.css" rel="stylesheet" />
    <link href="css/themes.css" rel="stylesheet" />
    <link href="css/dashboard.css" rel="stylesheet" />
    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <link href="bower_components//bootstrap-slider/slider.css" rel="stylesheet" />
    <link href="css/flexslider.css" rel="stylesheet" />
    <link href="bower_components/owl-carousel/owl-carousel/owl.theme.css" rel="stylesheet" />
    <link href="bower_components/owl-carousel/owl-carousel/owl.transitions.css" rel="stylesheet" />
    <link href="bower_components/owl-carousel/owl-carousel/owl.carousel.css" rel="stylesheet" />
</head>
<body ng-app="app" class="hold-transition sidebar-mini {{theme}} {{layout}}">
    <!--Scripts-->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/bootstrap-slider/bootstrap-slider.js"></script>
    <script src="misc/underscore/underscore-min.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    
    <script src="bower_components/angular/angular.js"></script>
    <!--script src="bower_components/angular/angular.min.js"></script-->
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="misc/chart.js/dist/Chart.js"></script>
    <script src="bower_components/owl-carousel/owl-carousel/owl.carousel.min.js"></script>

    <!-- Angular Material Library -->
    <script src="bower_components/angular-material/angular-material.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-messages/angular-messages.min.js"></script>

    <script src="bower_components/angular-flash-alert/dist/angular-flash.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

    <!--Common-->

    <script src="app/common/config.js"></script>

    <!--main app-->
    <script src="app/app.js"></script>
    <script src="app/common/appCtrl.js"></script>
    <script src="app/services/apiService.js"></script>

    <!--Login Module-->
    <script src="app/modules/login/loginMgmt.js"></script>
    <script src="app/modules/login/loginService.js"></script>
    <script src="app/modules/login/loginCtrl.js"></script>

    <!--Dashboard Module-->
    <script src="app/modules/dashboard/dashboardApplication.js"></script>
    <script src="app/modules/dashboard/dashboardService.js"></script>
    <script src="app/modules/dashboard/directives/chartCanvas.js"></script>
    <!-- Controllers -->
    <script src="app/modules/dashboard/controllers/dashboard.js"></script>
    <!--
    <script src="app/modules/dashboard/controllers/websites.js"></script>
    <script src="app/modules/dashboard/controllers/about.js"></script>
    <script src="app/modules/dashboard/controllers/achievements.js"></script>
    <script src="app/modules/dashboard/controllers/contact.js"></script>
    <script src="app/modules/dashboard/controllers/education.js"></script>
    <script src="app/modules/dashboard/controllers/experience.js"></script>
    <script src="app/modules/dashboard/controllers/gallery.js"></script>
    <script src="app/modules/dashboard/controllers/portfolio.js"></script>
    <script src="app/modules/dashboard/controllers/recent.js"></script>
    <script src="app/modules/dashboard/controllers/skills.js"></script>
    -->
    <flash-message
        duration="5000"
        show-close="true"
        on-dismiss="">
    </flash-message> 
    <ui-view></ui-view>

</body>
</html>
